@inherits SharedCode
@inject IJSRuntime jsRuntime

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    @*<div class="top-row px-4">
        <div class="alignright"><SfButton CssClass="e-info" OnClick="@AddExplosionCodes">Explosion Codes</SfButton></div>
    </div>*@

    <div class="content px-4">
        @Body
    </div>
</div>



